@{
    ViewData["Title"] = "About Me";
}
<!doctype html>
<html>
<head>
    <title >About Me</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">We are the flagship of the restaurant business</h2>
        <p>How do we attract our guests?</p>
        <ul>
            <li>We use our own products</li>
            <li>We have our own original recipe</li>
            <li> Our chef has Michelin stars</li>
            <li> And finally, we just have a cozy atmosphere</li>

        </ul>
    </div>
    
</body>
</html>