@{
    ViewData["Title"] = "About Me";
}
<!doctype html>
<html>
<head>
    <title >About Me</title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">A little bit about Myself</h2>
    </div>
    
</body>
</html>