@{
    ViewData["Title"] = "Countries";
}
<!doctype html>
<html>
<head>
    <title>About Me</title>
    <meta charset="utf-8" />
    <style>
h2{background-color:blue;color:aliceblue;text-align:center}
.info{background-color:cornflowerblue;color:gold;font-size:150%;
      text-align:left
}

.letter{font-size:200%;color:red}
.text-center {
            position: relative;
            background-color: cornflowerblue
        }
img{background-position:center;width:100px;height:60px}

    </style>
</head>
<body>
    <div class="text-center">
        <h2 class="display-4">Which countries have our establishments</h2>
        <div class="info">

            <p><img src="~/lib/ukraina.gif" /><span class="letter">U</span>kraine</p>
            <p><img src="~/lib/chehiya.gif" /><span class="letter">C</span>zech</p>
            <p><img src="~/lib/ispaniya.gif" /><span class="letter">S</span>pain</p>
            <p><img src="~/lib/portugaliya.gif" /><span class="letter">P</span>ortugal</p>
            <p><img src="~/lib/avstriya.gif" /><span class="letter">A</span>ustria</p>
            <p><img src="~/lib/belgiya.gif" /><span class="letter">B</span>elgium</p>
            <p><img src="~/lib/italy.gif" /><span class="letter">I</span>taly</p>
            <p><img src="~/lib/polsha.gif" /><span class="letter">P</span>oland</p>

        </div>

    </div>

</body>


</html>
